@import "./global.scss";

* {
	box-sizing: border-box;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: $background-color;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: "Courier New", monospace;
	background-color: $background-color;
	color: $text-color;
	cursor: none;
}
.neon-text {
	font-size: 4rem;
	font-weight: bold;
	color: $primary-color;
	text-shadow: 0 0 5px $primary-color, 0 0 10px $primary-color,
		0 0 20px $primary-color, 0 0 40px $primary-color;
	font-family: Arial, sans-serif;
}

a {
	text-decoration: none;
	cursor: none;
}

// pulsing button
.margin_extra {
	margin-top: 50px;
}

.quizContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.705);
}

//container for loader in window app
.allSpace {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
	// background-color: #fff;
}

.setToCenter {
	position: fixed;
	inset: 0; /* top: 0; bottom: 0; left: 0; right: 0 */
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
}
// LOADER:
// COPY LOADER FROM: https://css-loaders.com/spinner/
/* HTML: <div class="loader"></div> */
.loader {
	width: 50px;
	--b: 8px;
	aspect-ratio: 1;
	border-radius: 50%;
	padding: 1px;
	background: conic-gradient(#0000 10%, #aef033) content-box;
	-webkit-mask: repeating-conic-gradient(
			#0000 0deg,
			#000 1deg 20deg,
			#0000 21deg 36deg
		),
		radial-gradient(
			farthest-side,
			#0000 calc(100% - var(--b) - 1px),
			#000 calc(100% - var(--b))
		);
	-webkit-mask-composite: destination-in;
	mask-composite: intersect;
	animation: l4 1s infinite steps(10);
}
@keyframes l4 {
	to {
		transform: rotate(1turn);
	}
}

@keyframes matrixRain {
	0% {
		color: green;
	}
	100% {
		color: lightgreen;
	}
}
