// colors: 
$text-color: #ffffff;
$primary-color: #00ff00;
$logo-color: rgb(69, 192, 69);
$logo-color-shadow: 0 0 5px #13d70c;
$logo-color-shadow-b: 0 0 1px #13d70c;
$ghost-text-color: rgba(240, 248, 255, 0.767);
$ghost-text-color-terminal: rgba(240, 248, 255, 0.651);
$background-color: #000000;
$shadow-color: rgba(0, 255, 0, 0.5);