@import "../styles/global.scss";


.about_icons_container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 90%;
	height: 250px;
	margin-bottom: 20px;
	// background-color: $test;

	@include responsive(xs-2) {
		margin-bottom: 30px;
	}
	@include responsive(md-1) {
		margin-top: 10px;
		height: 220px;
	}
	@include responsive(md-1) {
		margin-top: 10px;
		height: 220px;
	}
	@include responsive(lg) {
		width: 80%;
	}
	@include responsive(high-sm-1) {
		height: 235px;
	}
	@include responsive(high-sm-2) {
		min-width: 85%;
	}
	@include responsive(high-md-1) {
		width: 75%;
		height: 256px;
		margin-bottom: 40px;
	}
	@include responsive(high-md-2) {
		height: 256px;
		margin-left: 50px;
		margin-right: 50px;
	}
	@include responsive(high-lg) {
		margin-bottom: 40px;
		height: 265px;
	}
	@include responsive(notebook14) {
		margin-bottom: 10px;
		height: 240px;
	}
}