@import "../styles/global.scss";

.about_container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

	.about_frame {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 95%;
		height: 95%;
		border: 1px solid #00ff00;
		border-radius: 15px;
		background-color: #ffffff0f;
		padding: 10px 0;
		position: relative;
	}
}
