@import "../styles/global.scss";

.about_section_info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
	height: 50px;
	margin-bottom: 25px;
	border-radius: 12px;
	border-top: 2.5px solid #00ff00a1;
	border-bottom: 2.5px solid #00ff00a1;

	.about_title {
		text-transform: uppercase;
		font-size: 18.5px;
		letter-spacing: 0.5px;
	}
}

@include responsive(high-sm-1) {
	.about_section_info {
		height: 45px;
		margin-bottom: 16px;

		.about_title {
			font-size: 18.5px;
		}
	}
}
@include responsive(high-lg) {
	.about_section_info {
		height: 54px;
		margin-bottom: 30px;

		.about_title {
			line-height: 1.5;
			font-size: 20.5px;
		}
	}
}
@include responsive(md-1) {
	.about_section_info {
		margin-bottom: 15px;
	}
}
@include responsive(md-2) {
	.about_section_info {
		height: 50px;
		min-height: 40px;

		.about_title {
			font-size: 17.5px;
			letter-spacing: 0.6px;
		}
	}
}
@include responsive(md-3) {
	.about_section_info {
		width: 76%;
		height: 55px;
		min-height: 42px;
	}
}
@include responsive(lg) {
	.about_section_info {
		width: 75%;
		height: 66px;
		
		.about_title {
			font-size: 18px;
			letter-spacing: 0.7px;
		}
	}
}
@include responsive(xxl){
	.about_section_info{
		margin-top: 10px;
	}
}
@include responsive(high-md-2) {
	.about_section_info {
		margin-bottom: 5px;
		height: 50px;
		min-height: 48px;

		.about_title {
			font-size: 19px;
			letter-spacing: 0.9px;
		}
	}
}