@import "../styles/global.scss";

.footer {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 95%;
	padding: 5px;
	border-top: 1px solid $ghost-text-color;
	color: $ghost-text-color;
}

p {
	font-size: 12px;
}

@include responsive(xs-2) {
	.footer {
		width: 92%;
		padding: 7px;
	}
	p {
		font-size: 13px;
	}
}
@include responsive(md-3) {
	.footer {
		width: 90%;
		padding: 5px;
	}
	p {
		font-size: 14px;
	}
}
@include responsive(lg) {
	.footer {
		border-top: 1px solid rgba(240, 248, 255, 0.658);
	}
}
@include responsive(xl) {
	.footer {
		padding: 4px;
	}
}
@include responsive(xxl) {
	.footer {
		padding: 5px;
	}
	p {
		font-size: 15px;
	}
}
