.btn_back {
	padding: 12px 24px;
	font-family: "Courier New", monospace;
	color: #fff;
	background-color: rgba(0, 128, 0, 0.626);
    border: none;
}
.em {
	margin-left: 12px;
	font-size: 20px;
	text-transform: uppercase;
}

.back_icon {
	font-size: 17px;
}