@import "../styles/global.scss";

.startQuiz {
	width: 100%;
	height: 100%;
	// background-color: rgb(79, 0, 0);  //active for duration of testing
	z-index: 99;

	.question_wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: 20px;
		padding-bottom: 20px;
		width: 100%;
		height: 450px;
		// background-color: #fff;

		.question_box {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 5px;
			margin-bottom: 20px;
			margin-left: auto;
			margin-right: auto;
			width: 90%;
			height: 180px;
			border: 1px solid #00ff00;
			border-radius: 10px;
			filter: drop-shadow(0 0 5px white) drop-shadow(0 0 40px #00ff00);
			box-shadow: 0 0 15px #00ff00, 0 0 5px #00ff00, 0 0 5px #00ff00;
		}
		.answer_bars {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			height: 280px;
			height: 340px;
			// background-color: rgba(128, 255, 0, 0.233);
		}
	}
}
.wrong {
	background-color: rgba(33, 33, 104, 0.956) !important;	
	color: white;
}
.correct {
	background-color: rgba(255, 99, 71, 0.177) !important;
	color: white;
}
.selectedCorrect {
	background-color: rgba(255, 99, 71, 0.177) !important;
	color: white;
	transform: translateX(-10%) !important;
}
.selectedWrong {
	background-color: rgba(33, 33, 104, 0.956) !important;	
	color: white;
	transform: translateX(-10%) !important;
}