@import "../styles/global.scss";

.option {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 300px;
	margin-bottom: 5px;
	height: 55px;
	border: 1px solid #00ff00;
	text-shadow: $logo-color-shadow;
	filter: drop-shadow(0 0 5px white) drop-shadow(0 0 20px #00ff00);
	background-color: black;
	transition: 0.3s;

	clip-path: polygon(
		10px 0%,
		calc(105% - 25px) 0%,
		100% 25px,
		100% calc(100% - 25px),
		calc(100% - 15px) 100%,
		15px 100%,
		0% calc(100% - 25px),
		0% 25px
	);
	border: 2px solid greenyellow;
	background-color: #000000c9;
	&::before {
		content: "";
		position: absolute;
		top: -20px;
		left: -20px;
		transform: rotate(45deg);
		width: 11px;
		height: 100px;
		background-color: greenyellow;
		filter: drop-shadow(0 0 5px white) drop-shadow(0 0 10px #00ff00);
	}
	&::after {
		content: "";
		position: absolute;
		top: -20px;
		right: -20px;
		transform: rotate(-45deg);
		width: 12px;
		height: 100px;
		background-color: greenyellow;
		filter: drop-shadow(0 0 5px white) drop-shadow(0 0 10px #00ff00);
	}

	&:hover {
		background-color: rgba(0, 128, 0, 0.162);
		// transform: translateX(-10%);
	}
}

.text {
	text-align: center;
	font-size: 16px;
	padding: 5px;
}

@include responsive(xs-1) {
	.option {
		height: 50px;
		padding: 0;
	}
}
@include responsive(xs-2) {
	.option {
		height: 56px;
	}
}
@include responsive(md-1) {
	.option {
		height: 60px;
		width: 320px;
	}
	.text {
		font-size: 17px;
		letter-spacing: 0.5px;
	}
}
