.top_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    // background-color: #9393938b;

    .left_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80px;
        height: 100px;
        // background-color: blue;

        .left_box_img{
            position: relative;
            margin-top: 5px;
            width: 90%;
            height: 72%;
            
            .item_shadow{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 6px solid #33ab00;
                border: 6px solid #33ab00ec;
                // box-shadow: 0 0 44px #419d00d9;
                box-shadow: 0 0 10px #1b4100;
                z-index: 2;
            }
            
            .img_avatar {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .left_box_nickname {
            margin-top: 5px;
        }
    }


    .right_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80px;
        width: 100px;
        height: 100px;
        font-family: "Orbitron", serif;
		letter-spacing: 1.5px;
		// font-weight: 500;
        // background-color: brown;

        .right_box_title{
            margin-top: 5px;
            margin-top: 10px;
            margin-top: 20px;
            font-size: 16px;
            letter-spacing: .7px;
        }
        .right_box_points{
            margin-top: 5px;
            font-size: 20px;
            font-weight: bold;
            
        }
    }
}