@import "../styles/global.scss";

.summaryTable {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	padding-top: 10px;
	padding-top: 5px;
	width: 90%;
	height: 270px;
	margin-top: 20px;
	margin-bottom: 20px;
	// background-color: rgba(0, 128, 0, 0.752);

	em {
		text-align: center;
		padding: 5px;
		font-size: 17px;
	}

	h2 {
		color: #00d300;
		text-shadow: 0 0 10px #00ff00, 0 5px 30px #00e200;
	}
	.sum {
		font-size: 20px;
	}
	.records_info {
		color: gold;
	}
}

.titleBanner {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 86%;
	height: 60px;
	margin-top: 50px;
	padding: 10px;
	font-family: "Orbitron", serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 25px;
	letter-spacing: 1.3px;
	word-spacing: 3px;
	text-shadow: $logo-color-shadow;
	filter: drop-shadow(0 0 5px white) drop-shadow(0 0 10px #00ff00);

	clip-path: polygon(
		25px 0%,
		calc(100% - 25px) 0%,
		100% 25px,
		100% calc(100% - 25px),
		calc(100% - 25px) 100%,
		25px 100%,
		0% calc(100% - 25px),
		0% 25px
	);
	border: 2px solid greenyellow;
	background-color: #000000c9;

	&::before {
		content: "";
		position: absolute;
		top: -20px;
		left: -20px;
		transform: rotate(45deg);
		width: 11px;
		height: 100px;
		background-color: greenyellow;
		filter: drop-shadow(0 0 5px white) drop-shadow(0 0 10px #00ff00);
	}
	&::after {
		content: "";
		position: absolute;
		top: -20px;
		right: -20px;
		transform: rotate(-45deg);
		width: 12px;
		height: 100px;
		background-color: greenyellow;
		filter: drop-shadow(0 0 5px white) drop-shadow(0 0 10px #00ff00);
	}
}

.frames {
	position: absolute;
	width: 100%;
	height: 100%;

	&::before {
		content: "";
		position: absolute;
		bottom: -18px;
		left: -20px;
		transform: rotate(135deg);
		width: 10px;
		height: 100px;
		background-color: greenyellow;
		filter: drop-shadow(0 0 5px white) drop-shadow(0 0 10px #00ff00);
	}
	&::after {
		content: "";
		position: absolute;
		bottom: -20px;
		right: -18px;
		transform: rotate(-135deg);
		width: 10px;
		height: 100px;
		background-color: greenyellow;
		filter: drop-shadow(0 0 5px white) drop-shadow(0 0 10px #00ff00);
	}
}

// RWD
@include responsive(high-sm-3) {
	.summaryTable {
		// background-color: #fff;

		em {
			font-size: 18px;
		}
		.sum {
			font-size: 21px;
		}
	}
}
@include responsive(md-2) {
	.summaryTable {

		em {
			margin: 3px;
			font-size: 19.5px;
		}
		.sum {
			font-size: 24px;
		}
	}
}
@include responsive(high-lg) {
	.summaryTable {

		em {
			margin: 4px;
			font-size: 18.5px;
		}
		.sum {
			font-size: 23px;
		}
	}
}