.terminal {
	position: relative;
	top: 1%;
	width: 90%;
	padding: 15px;
	padding-right: 20px;
	font-size: 18px;
	font-family: "Courier New", Courier, monospace;
	white-space: pre-wrap;
	z-index: 100;
	color: #51d751;
}

.cursor_box {
	display: inline-block;
	width: 15px;
	height: 18px;
	margin-left: 5px;
	vertical-align: bottom;
	background-color: #00ff00;
	animation: blink 1s steps(2, start)  11 forwards;
}

@keyframes blink {
	0%,
	100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}