@import "../styles/global.scss";


.titleContainer {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	height: 250px;
}

.titleLettersBox {
	position: relative;
	top: 90px;
	font-size: 2.4rem;
	width: 90%;
	max-width: 330px;
	color: $logo-color;
	z-index: 1;
	text-shadow: $logo-color-shadow;
}

.extraText {
	position: absolute;
	left: 10%;
	transform: translateX(-50%);
	font-size: 1.5rem;
	font-weight: bold;
	opacity: 0;
	z-index: 0;
	color: $ghost-text-color;
}

.extraText:first-child {
	top: 0px;
}
.extraText:last-child {
	bottom: -30px;
	left: 55%;
	font-size: 2rem;
	color: $ghost-text-color;
	text-shadow: none;
}

@include responsive(xs) {
	.titleContainer {
		font-size: 2.6rem;
	}
	.extraText {
		font-size: 1.6rem;
	}
	.extraText:last-child {
		bottom: -28px;
	}
}
@include responsive(xl) {
	.titleLettersBox {
		font-size: 2.7rem;
	}
	.extraText:last-child {
		left: 59%;
		bottom: -26px;
		font-size: 1.9rem;
	}
}
@include responsive(xxl) {
	.titleLettersBox {
		font-size: 2.75rem;
	}
	.extraText:last-child {
		left: 60%;
		font-size: 2rem;
		color: rgba(240, 248, 255, 0.718);
	}
}