@import "../styles/global.scss";

.nextStepBtn_wrapper {
	// position: absolute;
	position: relative;  //tests
	display: flex;
	justify-content: center;
	align-items: start;
	width: 100%;
	height: 40px;
	// bottom: 0;
	padding-top: 5px;

	.nextStepBtn {
		font-family: "Courier New", monospace;
		font-size: 18px;
		letter-spacing: 1.4px;
		font-style: italic;
		text-transform: uppercase;
		padding: 10px 22px;
		color: #fff;
		border: 1px solid transparent;
		cursor: none;
	}
}
.icon_forward {
	font-size: 16px;
	margin-left: 12px;
}

@include responsive(xs-1) {
	.nextStepBtn_wrapper {
		// bottom: 100px;
		// height: 60px;
		min-height: 58px;
		max-height: 58px;

		.nextStepBtn {
			font-size: 17px !important;
			padding: 10px 20px;
		}
		.icon_forward {
			font-size: 14px;
			margin-left: 10px;
		}
	}
}

// small phones
@include responsive(oppoA98) {
	.nextStepBtn_wrapper {
		position: relative;
		margin-top: 10px;
		padding-top: 10px;
		height: 50px;
		min-height: 50px;
		max-height: 50px;

		.nextStepBtn {
			font-size: 17px !important;
			padding: 10px 20px;
		}
		.icon_forward {
			font-size: 14px;
			margin-left: 10px;
		}
	}
}
@include responsive(xs-2) {
	.nextStepBtn_wrapper {
		height: 60px;
		min-height: 68px;
		max-height: 68px;

		.nextStepBtn {
			font-size: 18px !important;
			padding: 10px 20px;
		}
		.icon_forward {
			font-size: 14px;
			margin-left: 10px;
		}
	}
}

@include responsive(md-1) {
	.nextStepBtn_wrapper {
		height: 60px;
		min-height: 60px;

		.nextStepBtn {
			font-size: 19px;
			padding: 12px 22px;
		}
	}
}
@include responsive(md-2) {
	.nextStepBtn_wrapper {
		height: 60px;

		.nextStepBtn {
			font-size: 20px;
			padding: 11px 24px;
		}
	}
}
@include responsive(md-3) {
	.nextStepBtn_wrapper {

		.nextStepBtn {
			padding: 11px 26px;
		}
	}
}
@include responsive(lg) {
	.nextStepBtn_wrapper {
		align-items: center;

		.nextStepBtn {
			padding: 11px 26px;
		}
	}
}
@include responsive(high-sm-1) {
	.nextStepBtn_wrapper {
		// height: 60px;
		// min-height: 60px;

		.nextStepBtn {
			font-size: 18px;
			padding: 10px 24px;
		}
	}
}
@include responsive(notebook14) {
	.nextStepBtn_wrapper {
		// bottom: 12px;
		height: 40px;
		min-height: 40px;

		.nextStepBtn {
			font-size: 16px !important;
			padding: 8px 20px;
		}
		.icon_forward {
			font-size: 13px;
		}
	}
}
// @media (min-height: 700px) {
// 	.nextStepBtn_wrapper {
// 		// bottom: 15px;
// 	}
// }
// @media (min-height: 700px) and (max-width: 412px) {
// 	.nextStepBtn_wrapper {
// 		// bottom: 70px;
// 	}
// }