@import "../styles/global.scss";


.answer_bars {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 340px;
	padding-left: 4%;
	padding-right: 4%;
	// background-color: rgba(128, 255, 0, 0.233);
}
.wrong {
	background-color: rgba(33, 33, 104, 0.956) !important;
	color: white;
}
.correct {
	background-color: rgba(255, 99, 71, 0.177) !important;
	color: white;
}
.selectedCorrect {
	background-color: rgba(255, 99, 71, 0.177) !important;
	color: white;
	transform: translateX(-10%) !important;
}
.selectedWrong {
	background-color: rgba(33, 33, 104, 0.956) !important;
	color: white;
	transform: translateX(-10%) !important;
}
@include responsive(xs-1) {
	.answer_bars {
		margin-top: 15px;
		margin-bottom: 10px;
		padding-top: 5px;
		height: 360px;
		min-height: 220px;
		// background-color: #fff;
	}
}

// small phones
@include responsive(oppoA98) {
	.answer_bars {
		height: 220px;
		// background-color: #fff;
	}
}
@include responsive(xs-2) {
	.answer_bars {
		margin-top: 0px;
		padding-top: 0px;
		height: 460px;
		min-height: 290px;
		// background-color: $test;
	}
}
@include responsive(md-1) {
	.answer_bars {
		margin-top: 15px;
		height: 360px;
	}
}
@include responsive(lg) {
	.answer_bars {
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
		flex-wrap: wrap;
		max-height: 150px;
		height: 150px;
		min-height: 150px;
		padding-top: 0px;
		padding-bottom: 0px;
		// background-color: $test;
	}
	.selectedCorrect {
		transform: translateX(0%) !important;
		scale: 1.07;
	}
	.selectedWrong {
		background-color: rgba(3, 97, 155, 0.956) !important;
		transform: translateX(0%) !important;
		scale: 0.9;
	}
}
@include responsive(high-sm-1) {
	.answer_bars {
		margin-top: 15px;
		margin-top: 0px;
		// background-color: #ffffff40;
	}
}
@include responsive(high-sm-3) {
	.answer_bars {
		margin-top: 15px;
		height: 340px;
		// background-color: #ffffff40;
	}
}
