@import "../styles/global.scss";


.aboutText_box {
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 5px;
	// background-color: rgba(255, 0, 0, 0.432);

	.aboutText_box_text {
		font-size: 16px;
		letter-spacing: 0.3px;
	}
	.aboutText_box_span {
		content: "\A";
		white-space: pre; //the same effect as the <br> tag
		color: rgb(142, 142, 142);
	}
}
@include responsive(high-sm-1) {
	.aboutText_box {
		margin-top: 2px;
	}
}
@include responsive(md-1) {
	.aboutText_box {
		margin-top: 14px;

		.aboutText_box_text {
			font-size: 17px;
			letter-spacing: 0.3px;
		}
		.aboutText_box_span {
			line-height: 1.5;
			font-size: 17px;
		}
	}
}
@include responsive(high-md-1) {
	.aboutText_box {
		margin-top: 10px;

		.aboutText_box_text {
			font-size: 17.5px;
		}
		.aboutText_box_span {
			font-size: 17.5px;
		}
	}
}
@include responsive(high-md-2) {
	.aboutText_box {
		margin-top: 10px;
		margin-bottom: 3%;

		.aboutText_box_text {
			font-size: 17.5px;
		}
		.aboutText_box_span {
			font-size: 17.5px;
		}
	}
}
