@import "../styles/global.scss";

.btn_back {
	padding: 12px 24px;
	font-family: "Courier New", monospace;
	color: #fff;
	background-color: rgba(0, 128, 0, 0.626);
	border: none;
	cursor: none;
}
.em {
	margin-left: 12px;
	font-size: 20px;
	text-transform: uppercase;
}

.back_icon {
	font-size: 17px;
}

@include responsive(xs-1) {
	.btn_back {
		margin-top: 10px;
	}
}
@include responsive(oppoA98) {
	.btn_back {
		margin-bottom: 20px;
		padding: 10px 20px;
	}
	.em {
		font-size: 17px;
	}
	.back_icon {
		font-size: 15px;
	}
}
@include responsive(xs-2) {
	.btn_back {
		padding: 14px 28px;
	}
	.em {
		font-size: 21px;
	}
}
@include responsive(md-2) {
	.btn_back {
		padding: 12px 26px;
		margin-bottom: 20px;
	}
}
@include responsive(lg) {
	.btn_back {
		padding: 10px 24px;
		margin-bottom: 25px;
	}
}
@include responsive(high-sm-3) {
	.btn_back {
		margin-bottom: 10px;
	}
}
@include responsive(high-lg) {
	.btn_back {
		margin-bottom: 20px;
	}
}
