@import './styles/global.scss';

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: $background-color;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Courier New', monospace;
  background-color: $background-color;
  color: $text-color;
  cursor: none;
}
.neon-text {
  font-size: 4rem;
  font-weight: bold;
  color: $primary-color;
  text-shadow: 0 0 5px $primary-color, 0 0 10px $primary-color, 0 0 20px $primary-color, 0 0 40px $primary-color;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  cursor: none;
}

// pulsing button
.margin_extra {
  margin-top: 50px;
}



@keyframes matrixRain {
  0% {
    color: green;
  }
  100% {
    color: lightgreen;
  }
}