@import "../styles/global.scss";

.score_box {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 15px;
	width: 90%;
	border-radius: 8px;
	border: 1px dotted #00ff00;

	.position_rank {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1.5px solid #00ff00;
		border-radius: 8px;
		width: 50px;
		height: 80%;
		background-color: rgba(0, 0, 0, 0.9);
		filter: drop-shadow(0 0 1px white) drop-shadow(0 0 10px #00ff00);

		p {
			font-size: 18px;
		}
	}

	.position_info {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		border: 1px solid #00ff00;
		border-radius: 8px;
		width: 72%;
		height: 80%;
		text-transform: uppercase;
		letter-spacing: 1px;
		background-color: rgba(0, 0, 0, 0.9);
		filter: drop-shadow(0 0 1px white) drop-shadow(0 0 10px #00ff00);

		p {
			font-size: 18.5px;
		}
		.user_name {
			width: 50%;
		}
	}
}
@include responsive(oppoA98) {
	.score_box {
		.position_rank {
			p {
				font-size: 16px;
			}
		}
		.position_info {
			p {
				font-size: 15px;
			}
		}
	}
}

@include responsive(md-2) {
	.score_box {
		width: 91%;
		margin-bottom: 2px;
	}
}
@include responsive(md-2) {
	.score_box {
		gap: 20px;
	}
}
@include responsive(lg) {
	.score_box {
		width: 91%;
		height: 7.3vh;
	}
}
@include responsive(high-sm-2) {
	.score_box {
		width: 91%;
		height: 7.3vh;
		margin-top: 20px;
	}
}
@include responsive(high-lg) {
	.score_box {
		margin-top: 25px;
	}
}
