@import "../styles/global.scss";

.button_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
	z-index: 1;

	.accept_btn {
		padding: 12px 24px;
		font-size: 22px;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-style: italic;
		color: #00ff00;
		border: 2px solid #00ff00;
		background-color: transparent;
		background-color: #9c9c9c1f;
		cursor: none;
	}
}

@include responsive(xs-1) {
	.button_wrapper {
		margin-top: 20px;
	}
}
@include responsive(oppoA98) {
	.button_wrapper {
		.accept_btn {
			font-size: 18px;
		}
	}
}
@include responsive(high-sm-3) {
	.button_wrapper {
		margin-top: 20px;
	}
}
@include responsive(xs-2) {
	.button_wrapper {
		bottom: 25px;
	}
}
@include responsive(md-1) {
	.button_wrapper {
		bottom: 10px !important;
	}
}
@include responsive(md-2) {
	.button_wrapper {
		bottom: 40px !important;
		.accept_btn {
			margin-top: 30px;
		}
	}
}
@include responsive(notebook14) {
	.button_wrapper {
		max-height: 50px;
		
		.accept_btn {
			padding: 9px 20px;
			font-size: 18px;
		}
	}
}

// h 860px
@include responsive(high-md-2) {
	.button_wrapper {
		bottom: 40px;

		.accept_btn {
			margin-top: 0px;
		}
	}
}
@include responsive(lg) {
	.button_wrapper {
		padding: 0;
		margin: 0;
		height: clamp(60px, 11vh, 100px);
		align-items: end;
	}
}