@import "../styles/global.scss";


.inputName_box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	width: 90%;
	height: 60px;
	// background-color: red;

	.inputName {
		padding: 10px 20px;
		font-size: 17px;
		letter-spacing: 1px;
		text-align: center;
		color: #51d751;
		background-color: transparent;
		border: 1px solid #00ff0059;
		z-index: 1;

		&:disabled {
			color: #99eaff;
			text-shadow: 0 0 15px #66d9ff, 0 0 15px #33bbff;
			border-color: #1a9ad186;
			border-color: #1a9ad1ed;
			opacity: 0.6;
			cursor: not-allowed;
		}

		@include responsive(xs-1) {
			font-size: 16px;
		}
	}
	.inputName:focus {
		outline: none;
	}
}
@include responsive(xs-2) {
	.inputName_box {
		margin-bottom: 10px;

		.inputName {
			font-size: 19px !important;
		}
	}
}
@include responsive(md-1) {
	.inputName_box {
		.inputName {
			min-width: 280px;
			font-size: 21px !important;
		}
	}
}
@include responsive(md-3) {
	.inputName_box {
		height: 70px;
		
		.inputName {
			letter-spacing: 1.5px;
		}
	}
}
@include responsive(lg) {
	.inputName_box {
		height: 60px;
		
		.inputName {
			letter-spacing: 1.5px;
		}
	}
}
@include responsive(xxl) {
	.inputName_box {
		height: 70px;
		
		.inputName {
			letter-spacing: 1.5px;
		}
	}
}
@include responsive(high-sm-3) {
	.inputName_box {
		margin-bottom: 20px;

		.inputName {
			font-size: 18px;
		}
	}
}

@include responsive(high-md-2) {
	.inputName_box {
		margin-top: 24px;

		.inputName {
			font-size: 18.5px;
		}
	}
}
